{% macro render_field(field) %}
<p>
  	<b>{{ field.label }}</b><br>
	{{ field(**kwargs)|safe }}

  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<p>
{% endmacro %}

<html>
  <body>
  	<form method="POST">

  		{{ render_field(form.test_name) }}
  		{{ render_field(form.test_email) }}
  		{{ render_field(form.test_comment) }}
        {{ render_field(form.test_phone) }}

  		<button type="submit">Send my comment</button>
  	</form>
  </body>
</html>