{% macro render_field(field) %}
<p>
  	<b>{{ field.label }} </b>
     <br> <input class="form-control" size="25%" {{ field(**kwargs)|safe  }}</input>

  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
      <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}


<p>
{% endmacro %}

<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



    </head>
    <body >

    <title>Guest Book</title>

    <img src="/static/welcome.jpg" class="img-responsive" width="100%" height="100%">

    <a href='/login'>Login</a>
  	<form method="POST"  class="form-inline">

  		{{ render_field(form.test_name) }}
  		{{ render_field(form.test_email) }}
        {{ render_field(form.test_comment) }}
        {{ render_field(form.test_phone) }}

  		<br><button type="submit" class="btn btn-success" >Send my comment</button></br>

        <br></br>

       <table border="1"  class="table table-hover" >
            <tr>
            <th width="50">Date</th>
            <th width="70">Name</th>
            <th width="50">Email</th>
            <th width="50">Phone</th>
            <th width="100">Comment</th>
            {% if log == True %}<th width="50">Actions</th> {% endif %}
            </tr>
           {% for record in record %}
            <tr><td>{{ record.date.strftime("%Y-%m-%d %H:%M") }}</td><td>{{ record.name}}</td><td>{{ record.email}}</td>
        <td>{{ record.phone}}</td><td>{{ record.comment}}</td>
                {% if log ==True %}<td><a href='{{url_for('delete', record_id = record.id) }}'>Delete</a> </td>{% endif %}</tr>{% endfor %} </table>
  	</form>
    <script>
$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

});
</script>

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Вверх" data-toggle="tooltip" data-placement="right"><span class="glyphicon glyphicon-chevron-up"></span></a>
  </body>
</html>
